<template name="welcome">
	<div id="page-welcome" class="page fill">

        <br /><br />

        <div id="container">

            <div id="topText" class="common">
                Get Healthy, in X Minutes a Day
            </div>

            <div id="middleText" class="common">
                I want to workout for <br/>
                <input type="text" id="txtMinutes" maxlength="2" value="7"> <br/>
                Minutes
            </div>

            <a id="btnGetStarted" class="btn btn-large btn-yellow common">Get Started</a>
        </div>
    </div>
</template>