<template name="main_ad">
<style>
.fitstrong { width: 320px; height: 50px; }
@media(min-width: 500px) { .fitstrong { width: 468px; height: 60px; } }
@media(min-width: 800px) { .fitstrong { width: 728px; height: 90px; } }
</style>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Fitstrong -->
<ins class="adsbygoogle fitstrong"
     style="display:inline-block"
     data-ad-client="ca-pub-9760135697158419"
     data-ad-slot="9645692613"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</template>